In [ ]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/all_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,13,15,17,19,21,27,28,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,89,90,91,100,101,102,104,105,107,108,109,110,112,113,114,115,116,117,118,119,120) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Code for Vaibhav
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/all_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,13,15,17,19,21,27,28,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,89,90,91,100,101,102,104,105,107,108,109,110,112,113,114,115,116,117,118,119,120) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
lang = "german"
df_translated = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/{lang}_translate.csv")

In [ ]:
student_plot["ID"].plot.bar(title = f"Student Sentiment in {lang}")

NameError: ignored

In [ ]:
staff_plot["ID"].plot.bar(title = f"Staff Sentiment in {lang} ")

NameError: ignored

In [ ]:
#Using matplotlib
data = student_plot["ID"]
pie, ax = plot.subplots(figsize=[10,6])
labels = data.keys()
plot.pie(x=data, autopct="%.1f%%", labels=labels, pctdistance=0.5)
plot.title(f"Staff Sentiment in {lang} ", fontsize=14);

NameError: ignored

In [ ]:
df_translated_czech = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/czech_prediction.csv")
df_translated_german = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/german_prediction.csv")
df_translated_korean = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/korean_prediction.csv")
df_translated_russian = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/russian_prediction.csv")

In [ ]:
def classify(input_val): 
  if input_val == "tensor([0], device='cuda:0')":
    return "Negative"
  else: 
    return "Positive"

df_translated_czech["sentiment"] = df_translated_czech["prediction"].apply(classify)
df_translated_german["sentiment"] = df_translated_german["prediction"].apply(classify)
df_translated_korean["sentiment"] = df_translated_korean["prediction"].apply(classify)
df_translated_russian["sentiment"] = df_translated_russian["prediction"].apply(classify)


df_all_czech = df.merge(df_translated_czech, on="ID")
df_all_german = df.merge(df_translated_german, on="ID")
df_all_korean = df.merge(df_translated_korean, on="ID")
df_all_russian = df.merge(df_translated_russian, on="ID")

positive_staff_czech = len(df_all_czech.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Staff at a university"))
negative_staff_czech = len(df_all_czech.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Staff at a university"))
positive_student_czech = len(df_all_czech.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Student at a university"))
negative_student_czech = len(df_all_czech.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Student at a university"))

czech_table = pd.DataFrame()
czech_table.insert(0, "Staff at a University (Czech)", [negative_staff_czech, positive_staff_czech])
czech_table.insert(1, "Student at a University (Czech)", [negative_student_czech, positive_student_czech])

################################################################################
positive_staff_german = len(df_all_german.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Staff at a university"))
negative_staff_german = len(df_all_german.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Staff at a university"))
positive_student_german = len(df_all_german.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Student at a university"))
negative_student_german = len(df_all_german.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Student at a university"))

german_table = pd.DataFrame()
german_table.insert(0, "Staff at a University (German)", [negative_staff_german, positive_staff_german])
german_table.insert(1, "Student at a University (German)", [negative_student_german, positive_student_german])

################################################################################

positive_staff_korean = len(df_all_korean.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Staff at a university"))
negative_staff_korean = len(df_all_korean.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Staff at a university"))
positive_student_korean = len(df_all_korean.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Student at a university"))
negative_student_korean= len(df_all_korean.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Student at a university"))

korean_table = pd.DataFrame()
korean_table.insert(0, "Staff at a University (Korean)", [negative_staff_korean, positive_staff_korean])
korean_table.insert(1, "Student at a University (Korean)", [negative_student_korean, positive_student_korean])

################################################################################

positive_staff_russian = len(df_all_russian.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Staff at a university"))
negative_staff_russian = len(df_all_russian.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Staff at a university"))
positive_student_russian = len(df_all_russian.groupby(["sentiment"]).get_group("Positive").groupby(["role2"]).get_group("Student at a university"))
negative_student_russian = len(df_all_russian.groupby(["sentiment"]).get_group("Negative").groupby(["role2"]).get_group("Student at a university"))

russian_table = pd.DataFrame()
russian_table.insert(0, "Staff at a University (Russian)", [negative_staff_russian, positive_staff_russian])
russian_table.insert(1, "Student at a University (Russian)", [negative_student_russian, positive_student_russian])

In [ ]:
korean_table

   Staff at a University (Korean)  Student at a University (Korean)
0                               7                                98
1                              11                                66